@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family:'poppins' , sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
img { width: 100%;}

.nav-container{
    background: #15202B;

    a{
        color:white;
    }
}


header{
    display: flex;
    justify-content: space-between;
    padding:2em;

    .logo {
        color: white;
        font-weight: bold;
    }

        ul{
           display: flex;
            
           a{
               display: block;
               padding: 0 1em;
           }
        }
}

.social-header, .hero-design{
    display: none;
}

.hero{
    background: #192734;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;

    h1{
        font-weight: bold;
        color: #E17108;
        opacity: 50%;
    }

    h2{
        font-weight: bold;
        color: #E17108;
        opacity: 50%;
    }
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

section{
    padding: 4em 2em;
    text-align: left;
}  

.feature{
    position: relative;
}
.feature::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E17108;
    opacity: 41%;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtittle{
    text-transform: uppercase;
    font-weight: bold;
    color: #E17108;
    letter-spacing: .2em;
    font-size: .85em;
}

.feature-tittle{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

#backroung-color{
    background: #E17108;
}

#profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
    text-align: left;
}

.left {
    float: left;
}

.projects-list {
    color: #E17108;
    text-align: left;

    a{
        color: #E17108;
    }
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .about{
      padding: 4em 2em;

      h2{
          color: #E17108;
      }
  }

.accomplishment {
    padding: 2em;

    h3{
        color: #E17108;
    }
}


@media only screen and (min-width: 800px) {
    .feature, .portfolio {
        text-align: left;
    }
    .feature, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;

        img{
            width: 200px;
        }
    }  

}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #15202B;
        }
    }

    header {
        padding: 2em 2em 2em 4em ;
        }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }
    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 10em;
            float: right;

            img {
                width: 20px;
            }
        }
    }  
    
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #192734;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header{
        padding: 2em 10em 2em 0;
    }
    .section{
        padding: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0;
    }
    .section{
        padding: 6em 20em 4em 20em;
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}

