@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-image: url('../images/newyear.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
    color: white;
}

.countdown {
    display: flex;
    transform: scale(2);
    color: white;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.time h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin:  0 0 5px;
}

  